{{> header}}
<div class="offer-details">
    <h1>{{name}}</h1>
    <div class="info">
        <img src="{{imageUrl}}"
            alt="">
        <div class="description">{{description}}
            <br>
            <br>
            <p class="price">${{price}}</p>
        </div>
    </div>
    <div class="actions">
        {{#if isCreator}}
        <a href="#/edit/{{key}}">Edit</a>
        <a href="#/delete/{{key}}">Delete</a>
        {{else}}
        {{#if isBought}}
        <span>You bought it</span>
        {{else}}
        <a href="#/buy/{{key}}">Buy</a>
        {{/if}}
        {{/if}}
    </div>
</div>
{{> footer}}
