<div class="cube">
    <img class="cube" src="{{this.imageUrl}}">
    <p class="name">{{this.name}}</p>
    <p><span>Difficulty level:</span> {{this.difficultyLevel}}</p>
    <a class="btn" href="/products/details/{{this._id}}">Details</a>
    <a class="btn" href="/products/{{this._id}}/attach">Attach</a>
</div>