{{> header}}
<div class="container">
    <div class="row bg-light text-dark">
        <h1>Movie title: {{title}}</h1>

        <div class="col-md-8">
            <img class="img-thumbnail" src="{{imageUrl}}" alt="Movie">
        </div>
        <div class="col-md-4 text-center">
            <h3 class="my-3 ">Movie Description</h3>
            <p>{{description}}</p>
            {{#if isCreator}}
            <a class="btn btn-danger" href="#/delete/{{key}}">Delete</a>
            <a class="btn btn-warning" href="#/edit/{{key}}">Edit</a>
            {{else}}
            {{#if isLiked}}
            <span class="enrolled-span">Liked {{count}}</span>
            {{else}}
            <a class="btn btn-primary" href="#/like/{{key}}">Like</a>
            {{/if}}
            {{/if}}
        </div>
    </div>
</div>
{{> footer}}