<tr>
    <td>
        <p>{{merchant}}</p>
        <div class="report">
            {{#if report}}
            <a href="/expenses/{{_id}}/report">Report</a>
            {{/if}}
        </div>
    </td>
    <td>
        <img src="/images/amount.png" alt="Amount">
        <p>лв {{total}}</p>
    </td>
    <td>
        <img src="/images/category.png" alt="Category">
        <p>{{category}}</p>
    </td>
    <td>
        <img src="/images/hastag.png" alt="Description">
        <p>{{description}}</p>
    </td>
</tr>